body{
    font-family: cursive;
    background-position: center;
    background-size: cover;
}
.header_div{
    background: white;
    color: rgb(233, 12, 233);
}
p{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
}
button{
    width: 130px;
    letter-spacing: 3px;
    margin-top: 30px;
    font-weight: bold;
}
.footer{
    position: fixed;
    background-color: aliceblue;
    color: black;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px black;
}
h3,h4{
    color: aliceblue;
}